.nav {
    &__item {
        display: inline-block;
        @include font-main(16px, 400);
        text-decoration: none;
        padding: 15px 20px;

        &:hover {
            background-color: $main-bg;
            color: $link-hover;
            transition: .3s ease;
        }
    }
}

.header {
    padding: 150px 0;
    background: $main-bg;
    text-align: center;
    box-shadow: 0 15px 40px #7c7c7c;

    &__title {
        @include font-title(50px, 700);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: $main-heading
    }
}

.plugin {
    padding: 30px 20px;

    &__heading {
        margin: 0 0 30px;
        border-bottom: 1px solid #d1d1d1;
        padding-bottom: .2em;
    }

    &__link {
        @include font-title(32px, 600);
        text-decoration: none;

        &:hover,
        &:focus {
            color: $link-hover;
        }
    }

    &:focus {
        outline: none;
    }

    &:nth-child(even) {
        background-color: $alt-bg;
    }
}

.social {
    margin-top: 20px;

    &__link {
        @include font-main(16px, 400);
        display: inline-flex;
        align-items: center;
        color: $link-color;

        &::before {
            margin-right: 10px;
        }

        &--git::before {
            content: url('../img/icon-github.png');
        }

        &:hover,
        &:focus {
            color: $link-hover;
        }
    }
}